
#header {
background-color:#3882C7;
border:1px solid #ffffff;
color:#fafafa;
font-size:2em;
height:2.5em;
text-align:center;
padding-left:2em;
padding-top:1.2em;
}

#top {
background-color:#202020;
text-align:center;
}

#center {
border:1px solid #202020;
border-bottom:0;
border-top:0;
color:#000;
padding:1.5em 1.5em 3em 1.5em;
font-size:0.9em;
}

#content {
background-color:#ffffff;
margin:1em 5%;
min-width:71em;
position:absolute;
width:90%;
}

#footer {
color:#555555;
border:1px solid #202020;
border-top:1;
padding:0.6em;
text-align:center;
font-size:0.5em;
}

#footer a {
color:#555555;
}

#copyright {
text-align: center;
}

#copyright a {
text-decoration:none;
}

.menutop {
font-size:1em;
list-style-type:none;
padding:0.8em 0 0.8em 0;
margin:0;
}

.menutop a {
color:#fafafa;
margin:0 0.4em;
text-decoration:none;
}

.menutop a:hover {
color:#ffca00;
text-decoration:none;
}

.menutop li {
display:inline;
margin:0;
padding:0.6em;
}

.menubottom {
list-style-type:none;
padding:1em;
margin: 0;
}

.menubottom a {
margin:0 0.4em;
text-decoration:none;
}

.menubottom a:hover {
text-decoration:underline;
}

.menubottom li {
display:inline;
padding:0.6em 10px;
}

a {
color:#000;
text-decoration:underline;
}

body {
background-color:#CDCDCD;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:1.0em;
}

h1 {
font-size:1.6em;
margin:0.5em 0.5em 1em 0;
}

h2 {
	font-size: 1.2em;
	margin-top: 1.8em;
	margin-right: 0.5em;
	margin-left: 0.6em;
	margin-bottom: 0.3em;
}

h3 {
font-size:1em;
margin:0.8em 0.5em 0.3em 0.8em;
}

h4 {
font-size:1em;
margin:0.7em 0.5em 0.3em 1em;
}

h5 {
font-size:1em;
margin:0.6em 0.5em 0.2em 1.5em;
}

p, ul, ol {
margin:1px 0.5em 0.5em 1.5em;
}
