<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.bjango.istatmenus</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.bjango.istatmenus.daemon</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.bjango.istatmenus.daemon</string>
	<key>KeepAlive</key>
	<true/>
	<key>Program</key>
	<string>/Library/Application Support/iStat Menus 7/com.bjango.istatmenus.daemon</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
