<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uk.co.tla-systems.dragthing</key>
	<string>Si vous activez Arrêt-auto, DragThing ne sera pas en mesure d&apos;effectuer des raccourcis clavier, d’ouvrir ses tiroirs, ou de répondre aux clics sur vos Docks si ce n&apos;est pas l&apos;application en avant-plan.</string>
	<key>com.apple.iChat</key>
	<string>Soyez conscient que vous serez déconnecté et ne verrez pas les mises à jour d’états de vos contacts jusqu&apos;à ce que vous mettiez iChat à l&apos;avant-plan.</string>
	<key>com.adiumX.adiumX</key>
	<string>Vous serez déconnecté et ne verrez pas les mises à jour d’état de vos contacts jusqu&apos;à ce que vous mettiez Adium à l&apos;avant-plan.</string>
	<key>fm.last.Last.fm</key>
	<string>Mettre en pause Last.fm l&apos;empêchera de « scrobbler » vos morceaux iTunes et d&apos;écouter la radio en arrière-plan.</string>
	<key>at.obdev.LaunchBar</key>
	<string>La fonction de lancement rapide de LaunchBar et les touches de raccourci ne fonctionneront pas s&apos;il est en pause.</string>
	<key>com.plasq.skitch</key>
	<string>Vous ne pourrez pas faire de captures d&apos;écran quand Skitch sera en pause.</string>
	<key>com.smileonmymac.textexpander</key>
	<string>TextExpander ne pourra pas écrire s&apos;il est en pause - résultat contre-productif, n&apos;est-ce pas?</string>
	<key>com.culturecode.things</key>
	<string>Si vous activez l’Arrêt-auto, les touches rapides de Things ne fonctionneront pas s&apos;il est en cours d&apos;exécution en arrière-plan.</string>
	<key>com.evernote.Evernote</key>
	<string>Les raccourcis clavier Contrôle-C et Contrôle-V d’Evernote ne fonctionneront pas.</string>
	<key>com.stclairsoft.DefaultFolderX.dockRunner</key>
	<string>Default Folder X ne fonctionnera pas correctement si AppTamer l&apos;arrête. Il doit être exécuté en arrière-plan pour afficher son menu dans la barre des menus et pour améliorer Ouvrir et Enregistrer en tant que boîtes de dialogue.</string>
	<key>com.stclairsoft.DefaultFolderX.helper</key>
	<string>Default Folder X ne fonctionnera pas correctement si AppTamer l&apos;arrête. Il doit être exécuté en arrière-plan pour afficher son menu dans la barre des menus et pour améliorer Ouvrir et Enregistrer en tant que boîtes de dialogue.</string>
	<key>com.stclairsoft.DefaultFolderX5</key>
	<string>Default Folder X ne fonctionnera pas correctement si AppTamer l&apos;arrête. Il doit être exécuté en arrière-plan pour afficher son menu dans la barre des menus et pour améliorer Ouvrir et Enregistrer en tant que boîtes de dialogue.</string>
	<key>com.atebits.tweetie-mac</key>
	<string>Si vous activez l&apos;arrêt auto, Tweetie ne se mettra pas à jour quant aux nouveaux messages s&apos;il est en arrière-plan.</string>
	<key>com.parallels.desktop.console</key>
	<string>En raison de la façon dont Parallels Desktop fonctionne, App Tamer ne peut pas interrompre l&apos;application Parallels Desktop. Au lieu de cela, il interrompt les processus de machine virtuelle Parallels (nommés prl_vm_app), car ils font tout le travail réel et consomment presque tout le temps d&apos;UC associé à Parallels Desktop.</string>
	<key>jp.tmkk.XLD</key>
	<string>Vous voudrez peut-être ralentir XLD en arrière-plan, mais vous ne voulez probablement pas l&apos;arrêter complètement, car cela l&apos;empêchera de numériser des disques.</string>
	<key>com.google.Chrome</key>
	<string>L&apos;arrêt de Chrome peut parfois causer des problèmes de gestion du son ou de la souris. Si vous rencontrez des problèmes, réglez-le pour ralentir à 2%% au lieu de l&apos;arrêter complètement.</string>
	<key>com.apple.Spotlight</key>
	<string>Cela peut provoquer l&apos;exécution lente d&apos;autres applications ou ne plus répondre. Si vous voyez des effets négatifs sur d&apos;autres applications, augmentez la limite du processeur pour Spotlight.</string>
	<key>mds</key>
	<string>Cela peut provoquer l&apos;exécution lente d&apos;autres applications ou ne plus répondre. Si vous voyez des effets négatifs sur d&apos;autres applications, augmentez la limite du processeur pour Moteur Spotlight.</string>
	<key>corespotlightd</key>
	<string>Cela peut provoquer l&apos;exécution lente d&apos;autres applications ou ne plus répondre. Si vous voyez des effets négatifs sur d&apos;autres applications, augmentez la limite du processeur pour corespotlightd.</string>
	<key>com.hegenberg.BetterTouchTool</key>
	<string>Cela peut entraîner un fonctionnement saccadé ou erratique de la souris et du pavé tactile. Si cela se produit, augmentez ou supprimez la limite du processeur de BetterTouchTool.</string>
	<key>coreaudiod</key>
	<string>Le ralentissement de coreaudiod peut provoquer un son saccadé ou brouillé sur votre Mac. En règle générale, vous ne voulez pas qu’App Tamer gère coreaudiod.</string>
</dict>
</plist>
