<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>accountsd</string>
	<string>airportd</string>
	<string>amfid</string>
	<string>apfsd</string>
	<string>appleeventsd</string>
	<string>apsd</string>
	<string>authd</string>
	<string>autofsd</string>
	<string>AXVisualSupportAgent</string>
	<string>blued</string>
	<string>bluetoothd</string>
	<string>cfprefsd</string>
	<string>com.apple.appkit.xpc.openAndSavePanelService</string>
	<string>com.apple.CodeSigningHelper</string>
	<string>com.apple.dock.extra</string>
	<string>com.apple.dock</string>
	<string>com.apple.geod</string>
	<string>com.apple.hiservices-xpcservice</string>
	<string>com.apple.IconServicesAgent</string>
	<string>com.apple.InputMethodKit.UserDictionary</string>
	<string>com.apple.internetaccounts</string>
	<string>com.apple.loginwindow</string>
	<string>com.apple.sbd</string>
	<string>com.apple.security.pboxd</string>
	<string>com.apple.speech.speechsynthesisd</string>
	<string>com.apple.Spotlight</string>
	<string>com.apple.systemevents</string>
	<string>com.apple.systemuiserver</string>
	<string>com.hegenberg.BetterTouchTool</string>
	<string>com.stclairsoft.AppTamer-setapp</string>
	<string>com.stclairsoft.AppTamer</string>
	<string>com.stclairsoft.AppTamerAgent</string>
	<string>com.stclairsoft.AppTamer.Helper</string>
	<string>com.stclairsoft.Jettison.DriverHelper</string>
	<string>configd</string>
	<string>containermanagerd</string>
	<string>cookied</string>
	<string>coreaudiod</string>
	<string>coreauthd</string>
	<string>coreservicesd</string>
	<string>corespotlightd</string>
	<string>corestoraged</string>
	<string>coresymbolicationd</string>
	<string>debugserver</string>
	<string>diskarbitrationd</string>
	<string>diskimages-helper</string>
	<string>diskmanagementd</string>
	<string>distnoted</string>
	<string>dmd</string>
	<string>dynamic_pager</string>
	<string>filecoordinationd</string>
	<string>fileproviderd</string>
	<string>fontd</string>
	<string>fseventsd</string>
	<string>hdiejectd</string>
	<string>hidd</string>
	<string>icdd</string>
	<string>identityservicesd</string>
	<string>imklaunchagent</string>
	<string>kernel_task</string>
	<string>KernelEventAgent</string>
	<string>kernelmanagerd</string>
	<string>kextd</string>
	<string>keyboardservicesd</string>
	<string>krb5kdc</string>
	<string>launchd</string>
	<string>launchservicesd</string>
	<string>librariand</string>
	<string>locationd</string>
	<string>logind</string>
	<string>loginwindow</string>
	<string>lsboxd</string>
	<string>lsd</string>
	<string>mDNSResponder</string>
	<string>mds</string>
	<string>nehelper</string>
	<string>netbiosd</string>
	<string>networkd_privileged</string>
	<string>networkd</string>
	<string>nmbd</string>
	<string>notifyd</string>
	<string>ntpd</string>
	<string>ocspd</string>
	<string>opendirectoryd</string>
	<string>pboard</string>
	<string>pbs</string>
	<string>pkd</string>
	<string>powerd</string>
	<string>runningboardd</string>
	<string>sandboxd</string>
	<string>secd</string>
	<string>secinitd</string>
	<string>securityd_service</string>
	<string>securityd</string>
	<string>seld</string>
	<string>sharingd</string>
	<string>SleepServicesD</string>
	<string>smbd</string>
	<string>smd</string>
	<string>soagent</string>
	<string>SocialPushAgent</string>
	<string>storagekitd</string>
	<string>sysextd</string>
	<string>syslogd</string>
	<string>syspolicyd</string>
	<string>SystemStarter</string>
	<string>taskgated</string>
	<string>tccd</string>
	<string>trustd</string>
	<string>ubd</string>
	<string>USBAgent</string>
	<string>usbd</string>
	<string>usbmuxd</string>
	<string>UserEventAgent</string>
	<string>usernoted</string>
	<string>watchdogd</string>
	<string>WindowServer</string>
	<string>xpcd</string>
	<string>XPCTimeStampingService</string>
</array>
</plist>
