<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.mail</key>
	<array>
		<string>com.apple.WebKit.WebContent</string>
	</array>
	<key>com.reederapp.mac</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.Plugin.64</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
	</array>
	<key>com.fiplab.goforfacebook</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.Plugin.64</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
	</array>
	<key>com.apple.appstore</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.Plugin.64</string>
		<string>com.apple.WebKit.WebContent</string>
		<string>com.apple.WebKit.Networking</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
	</array>
	<key>com.fluidapp.Fluid.*</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.Plugin.64</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
		<string>WebKitPluginAgent</string>
	</array>
	<key>com.rockysandstudio.Leaf</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.Plugin.64</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebKit.Networking</string>
		<string>com.apple.WebKit.WebContent</string>
	</array>
	<key>com.fiplab.facetab</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
	</array>
	<key>com.fiplab.facetabpro</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
	</array>
	<key>com.fluidapp.FluidApp.*</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebKit.Plugin.64</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
		<string>WebKitPluginAgent</string>
	</array>
	<key>com.apple.Safari</key>
	<array>
		<string>com.apple.WebKit.WebContent</string>
		<string>com.apple.WebKit.Networking</string>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebKit.Plugin.64</string>
		<string>WebKitPluginAgent</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
		<string>Safari Webpage Preview Fetcher</string>
		<string>com.apple.Safari.SyncClient</string>
		<string>com.apple.PubSubAgent</string>
		<string>com.apple.WebKit.Storage</string>
		<string>com.apple.Safari.SearchHelper</string>
		<string>com.apple.Safari.SandboxBroker</string>
		<string>com.apple.Safari.ImageDecoder</string>
	</array>
	<key>org.webkit.*</key>
	<array>
		<string>com.apple.WebKit.WebContent</string>
		<string>com.apple.WebKit.Networking</string>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebKit.Plugin.64</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
		<string>Safari Webpage Preview Fetcher</string>
		<string>WebKitPluginAgent</string>
		<string>com.apple.Safari.SyncClient</string>
		<string>com.apple.PubSubAgent</string>
		<string>com.apple.WebKit.Storage</string>
		<string>com.apple.Safari.SearchHelper</string>
		<string>com.apple.Safari.SandboxBroker</string>
		<string>com.apple.Safari.ImageDecoder</string>
	</array>
	<key>com.apple.ScreenSaver.Engine</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebKit.Plugin.64</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
	</array>
	<key>com.google.Chrome</key>
	<array>
		<string>com.google.Chrome.helper</string>
		<string>com.google.Chrome.helper.EH</string>
		<string>com.google.Chrome.helper.NP</string>
	</array>
	<key>com.ranchero.NetNewsWire</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebKit.Plugin.64</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
	</array>
	<key>com.blackpixel.netnewswire</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>com.apple.WebKit.Plugin.64</string>
		<string>com.apple.WebProcess</string>
		<string>WebProcess</string>
	</array>
	<key>de.icab.iCab</key>
	<array>
		<string>com.apple.WebKit.PluginHost</string>
		<string>com.apple.WebKit.PluginProcess</string>
		<string>WebProcess</string>
		<string>com.apple.WebProcess</string>
	</array>
</dict>
</plist>
