<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emailUseAuthentication</key>
	<true/>
	<key>enableToggleDropDownMenuHotKey</key>
	<true/>
	<key>doNotShowFanHelperDisabledAlert</key>
	<false/>
	<key>showStatusItemHiddenAlert</key>
	<true/>
	<key>doNotShowHelperToolInstallWindow</key>
	<false/>
	<key>showActiveGPUInStatusMenu</key>
	<true/>
	<key>isCommonSectionAtTopOfStatusMenu</key>
	<false/>
	<key>isFanControlAtTopOfStatusMenu</key>
	<true/>
	<key>numLaunches</key>
	<integer>0</integer>
	<key>didMigratePaddleV3ToV4</key>
	<false/>
	<key>overrideFixCPUSpeedMinLimit</key>
	<integer>90</integer>
	<key>enableOverrideCPUFix</key>
	<false/>
	<key>useGenericMode</key>
	<false/>
	<key>didSignupForNewsletter</key>
	<false/>
	<key>didPromptSignupForNewsletter</key>
	<false/>
	<key>useColorForOverrideSymbol</key>
	<true/>
	<key>useAutoBoostInsteadOfAutoMax</key>
	<false/>
	<key>useManualInsteadOfMax</key>
	<false/>
	<key>automaticallyCheckForUpdates</key>
	<true/>
	<key>playSoundForNotifications</key>
	<false/>
	<key>emailSMTPEncryptionType</key>
	<integer>1</integer>
	<key>menuBarStackOrder</key>
	<integer>1</integer>
	<key>showMainWindowForAutoBoostPrivate</key>
	<false/>
	<key>showBatteryHealthAlerts</key>
	<true/>
	<key>turnOffFanControlForSleep</key>
	<true/>
	<key>showHighestCPUAlerts</key>
	<false/>
	<key>showSpecificAreaAlerts</key>
	<true/>
	<key>limitForHighestCPU</key>
	<integer>100</integer>
	<key>useISO8601DatesForLogs</key>
	<true/>
	<key>hasUpdatedForV2_9</key>
	<false/>
	<key>useColorInMenu</key>
	<true/>
	<key>enableDebugOutput</key>
	<false/>
	<key>previousTimeFromRestart</key>
	<real>2147483647</real>
	<key>emailAllowEmptyPassword</key>
	<false/>
	<key>showLastShutdownAlerts</key>
	<true/>
	<key>useEmailNotifications</key>
	<false/>
	<key>useLocalNotifications</key>
	<true/>
	<key>autoBoostGradualTime</key>
	<integer>10</integer>
	<key>enableShowWindowHotKey</key>
	<true/>
	<key>startNewLogFileMode</key>
	<integer>1</integer>
	<key>linkFanSpeeds</key>
	<true/>
	<key>fanControlType</key>
	<integer>0</integer>
	<key>logTemperatures</key>
	<true/>
	<key>logFanSpeeds</key>
	<true/>
	<key>logAlerts</key>
	<true/>
	<key>logDiagnostics</key>
	<true/>
	<key>logToFile</key>
	<false/>
	<key>tempUnit</key>
	<integer>0</integer>
	<key>activeAreaTag</key>
	<integer>15</integer>
	<key>updateIntervalSecs</key>
	<integer>2</integer>
	<key>showTempInMenuBar</key>
	<true/>
	<key>showFanInMenuBar</key>
	<true/>
	<key>menuBarTempSensorIndex</key>
	<integer>1</integer>
	<key>menuBarTemp2SensorIndex</key>
	<integer>3</integer>
	<key>menuBarFanSensorIndex</key>
	<integer>0</integer>
	<key>launchOnLogin</key>
	<true/>
	<key>useSmallerMenuFont</key>
	<true/>
	<key>appMode</key>
	<integer>1</integer>
	<key>checkDriveTemps</key>
	<false/>
	<key>showAppIcon</key>
	<false/>
	<key>showTemp2InMenuBar</key>
	<true/>
	<key>useShorterTitles</key>
	<false/>
	<key>isFirstLaunch</key>
	<true/>
	<key>limitForSpecificArea</key>
	<integer>100</integer>
	<key>showAutoBoostAlerts</key>
	<false/>
	<key>hideTutorialAlert</key>
	<false/>
</dict>
</plist>
