<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationDescription</key>
	<string>TG Pro is used for fan control, temperature monitoring and diagnostics. It supports all Intel (64-bit) and Apple Silicon models.</string>
	<key>Connections</key>
	<array>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>sendy.tunabellysoftware.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>If the user chooses to sign up for the Tunabelly Software newsletter, this is used to add their email to the list.</string>
			<key>DenyConsequences</key>
			<string>This connection is not essential and can be safely denied. However it will not be possible to sign up for the newletter in-app.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.ingest.us.sentry.io</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Used to upload anonymous crashlogs to the Sentry.io service.</string>
			<key>DenyConsequences</key>
			<string>This connection is not essential and can be safely denied. However any crashlogs will not be sent to be analyzed by Tunabelly Software.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>www.tunabellysoftware.com, tunabellysoftware.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Used to check for updates (for improvements, bug and security fixes) and hosted files with up-to-date information needed for some features.</string>
			<key>DenyConsequences</key>
			<string>If this connection is denied, TG Pro will not be able to check or notify about new updates, or get up-to-date information for some app features.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.azurewebsites.net, licensing.tunabelly.com, licensing.tunabellysoftware.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Essential</string>
			<key>Purpose</key>
			<string>Required for the licensing service to process trials, activations, and deactivations.</string>
			<key>DenyConsequences</key>
			<string>If this connection is denied, trials, activations and deactivations of licenses will not work.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.paddleapi.com, *.paddle.com, paddle.s3.amazonaws.com, paddle-static.s3.amazonaws.com, cloudflare.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Essential</string>
			<key>Purpose</key>
			<string>Used by the Paddle licensing service for verifying legacy activations.</string>
			<key>DenyConsequences</key>
			<string>If blocked, the license key may need to be re-entered unless it has already been migrated to the new system.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>bam.nr-data.net, newrelic.com, newrelic.net, doubleclick.net, www.google-analytics.com,  www.googletagmanager.com, google-analytics.com, nr-data.net, hexagon-analytics.com, js-agent.newrelic.com, gosquared.com, evidence.io, zdassets.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Used by the Paddle licensing service for their internal analytics.</string>
			<key>DenyConsequences</key>
			<string>This connection is not essential and can be safely denied. All licensing features will still work properly.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>*.localizecdn.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Used by the Paddle licensing service.</string>
			<key>DenyConsequences</key>
			<string>This connection is not essential and can be safely denied. All licensing features will still work properly.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>s3.amazonaws.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Used by the Paddle licensing service to retrieve app details as well as TG Pro to upload support packages.</string>
			<key>DenyConsequences</key>
			<string>If this connection is denied, TG Pro may not be able to upload support packages and Paddle may not have up-to-date info.</string>
		</dict>
		<dict>
			<key>IsIncoming</key>
			<false/>
			<key>Host</key>
			<string>tgpropackages.s3.amazonaws.com</string>
			<key>NetworkProtocol</key>
			<string>TCP</string>
			<key>Port</key>
			<string>443</string>
			<key>Relevance</key>
			<string>Default</string>
			<key>Purpose</key>
			<string>Used to upload support packages (with the user&apos;s consent) which do not include any personal identifiable information. They are only used for debugging support issues.</string>
			<key>DenyConsequences</key>
			<string>If this connection is denied, TG Pro will not be able to upload support packages.</string>
		</dict>
	</array>
</dict>
</plist>
